div {
  border:3px solid black;
  background-color: white;
  margin-left:5%;
  margin-right:5%;
  border-radius:50px;
}
h2 {
  margin-left:10%;
  font-style:unset;
}
body
{
  background-image: url("images/ML.jpg");
}
p {
  font-size:20px;
  margin-left:4%;
  font-family:didot;
  font-style:normal;
  }
 body {
   
    
  }