*{
  margin: 0 auto;
  padding: 0 auto;
  
}

.text {
  border:3px solid black;
  background-color: white;
  margin-left:5%;
  margin-top: 5%;
  margin-right:5%;
  border-radius:5px;
  padding: 10px;
}
h2 {
  font-style:unset;
}
body
{
  background-image: url("images/ML.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 101%;
}
p {
  font-size:20px;
  margin-left:4%;
  font-family:didot;
  font-style:normal;
  }
.AboutUs {
    background-image: url("images/ML.jpg");
  background-attachment: fixed;
  background-size: 101%;
  background-repeat: no-repeat;
}
   
  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: #111;
  transition: 600ms;
}
.active {
  background-color: black;
}

.logo {
  width: 46px;
  float: left;
}
@media only screen and (min-width: 601px) {
  .overlay {
    display: none;
  }
  .burger {
    display: none;
  }
 }

@media only screen and (max-width: 600px) {
  
 .overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

}
{video
position: relative;
right: 45px;
}