div {
  border:3px solid black;
  background-color: white;
  margin-left:15%;
  margin-right:15%
}
body
{
  background-image: url("images/ML.jpg");
}
p {
  font-family:'Times New Roman', Times, serif;
}